@using NBAStatParty.Models.DbModels;
@{
    string search = ViewData["Search"] as string;
    string backgroundColor = ViewData["BackgroundColor"] as string;
    string textColor = ViewData["TextColor"] as string;
    string upColor = ViewData["TableUpColor"] as string;
    string downColor = ViewData["TableDownColor"] as string;
}
@model List<Player>

<script>
    var nav = document.getElementById('navbar');
    nav.style.backgroundColor = '@upColor';
</script>

<style>
    /* Dropdown Button */
    
    #text1{
        color:@textColor;
    }

    #text2{
        color: @textColor;
    }

    #text3{
        color: @textColor;
    }
</style>

<h1>
    <form method="get" action="/players/search">
        <label style="color: @textColor" for="Name">Name: </label>
        <input style="color: @textColor; background-color: @upColor" type="text" name="Name" id="Name" value="@search" required />
        <button style="color: @textColor; background-color: @upColor" type="submit">Search</button>
    </form>
</h1>

@foreach(var player in Model){
    <span><a style="color: @textColor" href="/players/?id=@player.Id">@player.FullName</a> #@player.Number</span>
    <br />
}


<script>
    document.body.style.backgroundColor = '@backgroundColor';
</script>