@using NBAStatParty.Models.DbModels;
@model Team;
@{
    string backgroundColor = "#FFFFFF";
    string textColor = "#000000";
    string tableUpColor = "#FFFFFF";
    string tableDownColor = "#F9F9F9";
    if (Model.Colors.Any())
    {
        backgroundColor = Model.Colors.FirstOrDefault(c => c.Type == "primary").Hex as string;
        textColor = Model.Colors.FirstOrDefault(c => c.Type == "secondary").Hex as string;
        tableUpColor = Model.Colors.FirstOrDefault(c => c.Type == "primary").Up() as string;
        tableDownColor = Model.Colors.FirstOrDefault(c => c.Type == "primary").Down() as string;
    }


}
<script>
    function setBackground(color){
        document.body.style.backgroundColor = color;
    }
    setBackground('@backgroundColor')
</script>
<style>
    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border: 3px solid @tableDownColor;
    }

    tbody tr:nth-child(odd) {
        background-color: @tableUpColor;
    }

    tbody tr:nth-child(even) {
        background-color: @tableDownColor;
    }

    th,
    td {
        padding: 20px;
    }
</style>
<h1 style="color: @textColor">@Model.Market @Model.Name</h1>
<table>

    <thead>
        <tr>
            <th style="color: @textColor">YEAR</th>
            <th style="color: @textColor">W</th>
            <th style="color: @textColor">L</th>
            <th style="color: @textColor">Pct</th>
            <th style="color: @textColor">PPG</th>
            <th style="color: @textColor">OPP PPG</th>
            <th style="color: @textColor">DIFF</th>
            <th style="color: @textColor">DIV:</th>
            <th style="color: @textColor">RANK</th>
            <th style="color: @textColor">GB</th>
            <th style="color: @textColor">CONF:</th>
            <th style="color: @textColor">RANK</th>
            <th style="color: @textColor">GB</th>
        </tr>
    </thead>
    <tbody>

        @foreach(var season in Model.Seasons.OrderByDescending(s => s.Year))
        {
            <tr>
                <th style="color: @textColor">@season.Year</th>
                <th style="color: @textColor">@season.Wins</th>
                <th style="color: @textColor">@season.Losses</th>
                <th style="color: @textColor">@season.WinPct</th>
                <th style="color: @textColor">@season.PointsFor</th>
                <th style="color: @textColor">@season.PointsAgainst</th>
                <th style="color: @textColor">@season.PointDiff</th>
                <th style="color: @textColor"></th>
                @if(@season.Ranks != null)
                {
                    <th style="color: @textColor">@season.Ranks.DivRank</th>
                }
                else
                {
                    <th style="color: @textColor">N/A</th>
                }
                <th style="color: @textColor">@season.GamesBehind.Division</th>
                <th style="color: @textColor"></th>
                @if (@season.Ranks != null)
                {
                    <th style="color: @textColor">@season.Ranks.ConfRank</th>
                }
                else
                {
                    <th style="color: @textColor">N/A</th>
                }
                <th style="color: @textColor">@season.GamesBehind.Conference</th>
            </tr>
        }

    </tbody>
</table>
<br />
<h3 style="color: @textColor">Roster</h3>
<table>
    <thead>
        <tr>
            <th style="color: @textColor">Name</th>
            <th style="color: @textColor">Num</th>
            <th style="color: @textColor">Pos</th>
            <th style="color: @textColor">Exp</th>
            <th style="color: @textColor">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Roster)
        {
            <tr>
                <th style="color: @textColor"><a style="color: @textColor" href="/players/?id=@player.Id">@player.AbbrName</a></th>
                <th style="color: @textColor">@player.Number</th>
                <th style="color: @textColor">@player.Position</th>
                <th style="color: @textColor">@player.Experience</th>
                <th style="color: @textColor">@player.Status</th>
            </tr>
        }
    </tbody>
</table>