@using NBAStatParty.Models.DbModels;
@model Team;
<h1>@Model.Market @Model.Name</h1>
<table>

    <thead>
        <tr>
            <th>YEAR</th>
            <th> | W</th>
            <th> | L</th>
            <th> | Pct</th>
            <th> | PPG</th>
            <th> | OPP PPG</th>
            <th> | DIFF</th>
            <th> |DIV:</th>
            <th>| RANK</th>
            <th> | GB</th>
            <th> |CONF:</th>
            <th>| RANK</th>
            <th> | GB</th>
        </tr>
    </thead>
    <tbody>

        @foreach(var season in Model.Seasons.OrderByDescending(s => s.Year))
        {
            <tr>
                <th>@season.Year</th>
                <th> | @season.Wins</th>
                <th> | @season.Losses</th>
                <th> | @season.WinPct</th>
                <th> | @season.PointsFor</th>
                <th> | @season.PointsAgainst</th>
                <th> | @season.PointDiff</th>
                <th> |</th>
                <th>| @season.Ranks.DivRank</th>
                <th> | @season.GamesBehind.Division</th>
                <th> |</th>
                <th>| @season.Ranks.ConfRank</th>
                <th> | @season.GamesBehind.Conference</th>
            </tr>
        }

    </tbody>
</table>